input[type="checkbox"] {
  background-color: #fff;
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 16px;
  height: 16px;
  border: 1px solid #9fb1c0;
  border-radius: 2px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #18a0fb;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
