server {
    server_name 18.159.175.238;
    listen 80;

    location /app {
        include uwsgi_params;
        uwsgi_read_timeout 3000;
        uwsgi_buffering off;
        uwsgi_pass 127.0.0.1:3042;
    }

    location ~ /app/ui/images {
        rewrite ^/app/ui/images/(.*)$ /$1 break;
        root /opt/forome/anfisa.demov6/int_ui/images;
    }

    location ~ /app/ui {
        rewrite ^/app/ui/(.*)$ /$1 break;
        root /opt/forome/anfisa.demov6/ui;
    }

    location / {
        client_max_body_size 100M;
        proxy_buffering off;
        proxy_read_timeout 3000;
        root /var/www/html/anfisa61/;
        try_files $uri $uri/ /index.html;
        error_log /var/log/nginx/anfisa61_err.log warn;
        access_log /var/log/nginx/anfisa61.log;
    }

    location ^~ /.well-known/acme-challenge/ {
        allow all;
    }
#    listen 443 ssl; # managed by Certbot
#    ssl_certificate /etc/letsencrypt/live/demo.forome.org/fullchain.pem; # managed by Certbot
#    ssl_certificate_key /etc/letsencrypt/live/demo.forome.org/privkey.pem; # managed by Certbot
#    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
#    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}


#server {
#    if ($host = 18.159.175.238) {
#        return 301 https://$host$request_uri;
#    } # managed by Certbot
#    server_name 18.159.175.238;
#    listen 80;
#    return 404; # managed by Certbot
#}
