.drawer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: relative;

  &__header {
    flex: 0 0 auto
  }

  &__content {
    position: relative;
    flex: 1 0 0;
    background: theme("colors.blue.lighter");
  }

  &__layout {
    position: absolute;
    z-index: 1;
    inset: 0;
    overflow: auto;
  }

  &__loader {
    position: absolute;
    z-index: 2;
    inset: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: theme("colors.backdrop");
  }
}
