.button {
  @apply typography-s;

  border-radius: 100vh;
  color: theme("colors.white");
  background-color: theme("colors.blue.bright");
  border: 2px solid theme("colors.blue.bright");
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  white-space: nowrap;

  &:hover {
    background-color: theme("colors.blue.hover");
    border-color: theme("colors.blue.hover");
  }

  &:active {
    background-color: theme("colors.blue.active");
    border-color: theme("colors.blue.active");
  }

  &:disabled {
    color: theme("colors.grey.blue");
    background-color: theme("colors.red.disabled");
    border-color: theme("colors.red.disabled");
  }

  &_xs {
    padding: 2px 18px;
  }

  &_xs&_dense {
    padding: 2px 14px;
  }

  &_sm {
    padding: 4px 22px;
  }

  &_sm&_dense {
    padding: 4px 18px;
  }

  &_md {
    padding: 4px 30px;
  }

  &_md&_dense {
    padding: 4px 26px;
  }

  &_primary-dark {
    &:disabled {
      background-color: theme("colors.blue.lighter");
      border-color: theme("colors.blue.lighter");
    }
  }

  &_icon-only {
    border-width: 0;
    border-radius: 4px;
  }

  &_icon-only&_sm {
    padding: 8px 10px;
  }

  &_icon-only&_md {
    padding: 12px 14px;
  }

  &_icon-only&_xs {
    padding: 7px 8px;
  }

  &_text {
    background-color: transparent;
    color: theme("colors.blue.bright");

    &:hover {
      background-color: transparent;
      color: theme("colors.blue.hover");
    }

    &:active {
      background-color: transparent;
      color: theme("colors.blue.dark");
    }
  }

  &_secondary,
  &_secondary-dark {
    background-color: inherit;
    color: theme("colors.blue.dark");
    border-color: theme("colors.blue.bright");

    &:hover {
      background-color: inherit;
      border-color: theme("colors.blue.hover");
    }

    &:active {
      background-color: inherit;
      border-color: theme("colors.blue.active");
    }

    &:disabled {
      color: theme("colors.grey.blue");
      background-color: inherit;
      border-color: theme("colors.red.disabled");
    }
  }

  &_secondary-dark {
    color: theme("colors.white");

    &:disabled {
      color: theme("colors.grey.blue");
      background-color: inherit;
      border-color: theme("colors.blue.lighter");
    }
  }

  &_tertiary {
    color: theme("colors.black");
    background-color: theme("colors.white");
    border-color: theme("colors.grey.disabled");

    &:hover {
      background-color: inherit;
      border-color: theme("colors.grey.light");
    }

    &:active {
      background-color: theme("colors.grey.lighter");
      border-color: theme("colors.grey.light");
    }

    &:disabled {
      background-color: inherit;
      border-color: theme("colors.grey.disabled");
      color: theme("colors.grey.blue");
    }
  }

  &_diestruction {
    background-color: inherit;
    color: theme("colors.blue.dark");
    border-color: theme("colors.red.light");

    &:hover {
      background-color: inherit;
      border-color: theme("colors.red.hover");
    }

    &:active {
      background-color: inherit;
      border-color: theme("colors.red.active");
    }

    &:disabled {
      background-color: inherit;
      border-color: theme("colors.red.disabled");
    }
  }

  &__text {
    @apply typography-s;

    &_xs {
      @apply typography-xs;
    }

    &_left {
      margin-left: theme("spacing.1");
    }

    &_right {
      margin-right: theme("spacing.1");
    }
  }
}
