.button {
  border-radius: 100vh;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: theme("colors.white");
  background-color: theme("colors.blue.bright");
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &_secondary-size {
    &_xs {
      padding: 2px 18px;
    }

    &_md {
      padding: 4px 30px;
    }

    &_sm {
      padding: 4px 22px;
    }
  }

  &_icon_only {
    border-radius: 4px;

    &_sm {
      padding: 8px 10px;
    }

    &_md {
      padding: 12px 14px;
    }

    &_xs {
      padding: 7px 8px;
    }
  }

  &_sm {
    padding: 6px 24px;
  }

  &_md {
    padding: 6px 32px;
  }

  &_xs {
    padding: 4px 20px;
  }

  &:hover {
    background-color: theme("colors.blue.hover");
  }

  &:focus {
    background-color: theme("colors.blue.active");
  }

  &:disabled {
    color: theme("colors.grey.blue");
    background-color: theme("colors.red.disabled");
  }

  &_secondary {
    background-color: inherit;
    color: theme("colors.blue.dark");
    border: 2px solid theme("colors.blue.bright");

    &:hover {
      background-color: inherit;
      border-color: theme("colors.blue.hover");
    }

    &:focus {
      background-color: inherit;
      border-color: theme("colors.blue.active");
    }

    &:disabled {
      color: theme("colors.grey.blue");
      background-color: inherit;
      border-color: theme("colors.red.disabled");
    }
  }

  &_diestruction {
    background-color: inherit;
    color: theme("colors.blue.dark");
    border: 2px solid theme("colors.red.light");

    &:hover {
      background-color: inherit;
      border-color: theme("colors.red.hover");
    }

    &:focus {
      background-color: inherit;
      border-color: theme("colors.red.active");
    }

    &:disabled {
      background-color: inherit;
      border-color: theme("colors.red.disabled");
    }
  }

  &_primary-dark {
    &:disabled {
      background-color: theme("colors.blue.lighter");
    }
  }

  &_secondary-dark {
    background-color: inherit;
    color: theme("colors.white");
    border: 2px solid theme("colors.blue.bright");

    &:hover {
      background-color: inherit;
      border-color: theme("colors.blue.hover");
    }

    &:focus {
      background-color: inherit;
      border-color: theme("colors.blue.active");
    }

    &:disabled {
      color: theme("colors.grey.blue");
      background-color: inherit;
      border-color: theme("colors.blue.lighter");
    }
  }
}

.button-text {
  &_sm {
    font-size: 14px;
    line-height: 20px;
  }

  &_xs {
    font-size: 12px;
    line-height: 16px;
  }

  &_left {
    margin-left: 4px;
  }

  &_right {
    margin-right: 4px;
  }
}
