.solution-control-button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 192px;
  height: 32px;
  padding: 0 theme("spacing.2");
  background: theme("colors.blue.lighter");
  border-radius: theme("borderRadius.DEFAULT");
  cursor: pointer;

  &__label {
    flex: 1 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: theme("colors.white");
    font: theme("fontWeight.normal") theme("fontSize.14")/theme("lineHeight.20") theme("fontFamily.sans");
  }

  &__icon {
    position: relative;
    flex: 0 0 auto;
    height: 16px;
    width: 16px;

    &_delete {
      color: theme("colors.blue.bright")
    }
  }

  &__arrow {
    position: absolute;
    left: 6px;
    top: 4px;
    border-left: 1px solid theme("colors.white");
    border-bottom: 1px solid theme("colors.white");
    width: 6px;
    height: 6px;
    transform-origin: 35% 65%;
    transform: rotate(-45deg);
    transition: transform 0.15s ease-in-out;

    &_open {
      transform: rotate(135deg);
    }
  }
}
