.input-search {
  border-radius: 50vh;
  width: 100%;
  padding: 6px 35px 6px 12px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid theme("colors.grey.blue");
  background: theme("colors.white");
  color: theme("colors.black");

  &:focus {
    outline: none;
  }

  &_big {
    font-size: 14px;
    line-height: 20px;
  }
}
