.dialog {
  position: fixed;
  top: 40%;
  left: 50%;
  transition-timing-function: ease-in-out;
  transition-property: opacity, transform;
  transform: translate(-50%, -50%);

  &_xs {
    width: 320px;
  }

  &_s {
    width: 468px;
  }

  &_m {
    width: 580px;
  }

  &_l {
    width: 640px;
  }

  &_xl {
    width: 740px;
  }

  &_entering,
  &_entered {
    opacity: 1;
  }

  &_exiting,
  &_exited {
    opacity: 0;
    transform: translate(-50%, -75%);
  }
}
