@tailwind base;

@layer base {
  html {
    min-width: 1024px;
  }

  html, body, #root {
    height: 100%;
  }

  button:focus {
    outline: none;
  }

  svg {
    @apply flex-shrink-0;
  }
}

@tailwind utilities;