@tailwind base;

@layer base {
  * {
    /* W3C standard just for Firefox */
    scrollbar-width: thin;
  }

  html {
    min-width: 1024px;
    @apply text-black;
  }

  html, body, #root {
    @apply h-full;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-grey-light;
  }

  ::-webkit-scrollbar-track {
    @apply bg-grey-light shadow-scrollbar;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-secondary;
  }

  button:focus {
    outline: none;
  }

  svg {
    @apply flex-shrink-0;
  }
}

@tailwind utilities;