@tailwind base;

@layer base {
  * {
    /* W3C standard just for Firefox */
    scrollbar-width: thin;
  }

  html {
    min-width: 1024px;
    @apply text-black;
  }

  html, body, #root {
    @apply h-full;
  }

  button:focus {
    outline: none;
  }

  svg {
    @apply flex-shrink-0;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-corner {
  @apply bg-grey-light;
}

::-webkit-scrollbar-track {
  @apply bg-grey-light shadow-scrollbar;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-secondary;
}

.grid-item-dark.react-grid-item > .react-resizable-handle::after {
  @apply border-white;
}

.step-menu-btn {
  @apply rounded-tr-none rounded-tl-none rounded-bl-md rounded-br-md rounded-md font-normal py-2 px-2 hover:bg-grey-light;
}
