.bar-chart {
  :global {
    .tick {
      color: theme("colors.grey.blue");

      @apply typography-xxs;

      font-size: 9px;

      line {
        color: theme("colors.blue.lighter");
      }
    }

    .domain {
      display: none;
    }
  }
}
